doctype
- var title = '博多執筆規定'
- var version = 'beta'
html
	head
		title= title + ' ' + version
	body
		h1= title
			small= version
			
		h2 総則
		
		ol
			li 本文書の目的は、[博多市](https://hakatashi.com/)が個人的に執筆する自然言語の文章の表記ルールを一定化することであり、これに類さない他の文章に即決的に適用されるものではない。
			li 本文書の全体は、[CC0 1.0 Universal](https://creativecommons.org/publicdomain/zero/1.0/)のもとでライセンスされ、複製・改変・再配布・販売を含む一切の利用が許可される。これは本文書の過去のバージョンすべてに遡って適用される。
			li 本文書の原本は、 https://github.com/hakatashi/HakataWritingRules にホスティングされる。最新のものは https://raw.githubusercontent.com/hakatashi/HakataWritingRules/master/HakataWritingRules.html で入手することができる。
			li 本文書の規定は、日本語と英語の表記に対して適用され、その他の言語の表記については、特にこれを定めない。

		h2 日本語

		h3 文体

		ol
			li 現代日本語を用いる。

				p.example 踏切前で電車が立ち往生という下衆みたいな状況に陥ってる

				ol
					li 上代日本語、中古日本語、中世日本語、近世日本語を用いることによって文体に特別の効果が期待されるものは、この限りではない。

						p.example 愛なき岸に花は咲かまし

			li 現代仮名遣いを用いる。

				ol
					li 原則として、昭和61年内閣告示第1号に従う。

					li 以下の語は、次のとおりに表記する。

						ul
							li つまづく(躓く)
							li ちからづく(力尽く・力付く)

			li 常用漢字に規定された漢字は、その字体を用いる。

			li 常用漢字に規定されない漢字は、原則として正字とされるものを用い、拡張新字体は使用しない。

			li 標準語を用いる。
